* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body {
    background: -webkit-linear-gradient(45deg, #111, #999);
    background: -o-linear-gradient(45deg, #111, #999);
    background: linear-gradient(45deg, #111, #999);
    display: fixed;
    height: 100vh;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

#login {
    max-width: 512px;
    height: 491px;
    margin: 48px auto;
    border-radius: 16px;
    background: -webkit-linear-gradient(45deg, #aaa, #eee);
    background: -o-linear-gradient(45deg, #aaa, #eee);
    background: linear-gradient(45deg, #aaa, #eee);
    -webkit-box-shadow: -24px 24px 24px;
            box-shadow: -24px 24px 24px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s; 
    padding: 12px 64px;
}

h1 {
    margin: 12px;
    font-size: 80px;
    text-align: center;
}

label {
    font-weight: bold;
    font-size: 22px;
    display: block;
    padding: 32px;
    border-radius: 16px;
    border: 1px #eee solid;
}
label:hover {
    background: #eee;
}
label:active {
    background: rgb(255, 203, 106);
    border-color: black;
}
label:active input {
    background: rgb(255, 203, 106);
}

input {
    width: 198px;
    height: 36px;
    float: right;
    font-size: 20px;
    border-radius: 16px;
}
input:focus {
    outline: none;
    background: rgb(255, 203, 106);
}

button {
    display: block;
    width: 256px;
    margin: 48px auto;
    padding: 12px 16px;
    background: orange;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
    border-left: solid rgb(160, 56, 52) 8px;
    border-bottom: solid rgb(143, 143, 48) 8px;
    border-radius: 0 4px 0 0;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
}
button:hover {
    background: rgba(255, 189, 67);
}
button:active {
    background: orange;
    border-left: 0;
    border-bottom: 0;
    border-right: solid rgb(194, 143, 48) 16px;
    border-top: solid rgb(173, 128, 44)16px;
    border-radius: 0 0 0 4px;
    padding: 12px 16px 8px 4px;
    outline: none;
}

div{
    text-align: center;
    padding: 16px 32px;
    max-width:496px;
    margin: 16px auto;
    border-radius: 16px;
    background: #ccc;
}

a{
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s
}

/* state */
.hide { display: none }

@media screen and (max-width:512px) {

    html,
    body {
        margin: 0
    }

    #login {
        margin: 0;
        font-size: 24px;
        border-radius: 0;
        padding: 1px 12px;
    }

    label {
        text-align: center;
        font-size: 22px;
        display: block;
        padding: 32px;
        border-radius: 16px;
        padding: 32px 0 64px 0;
    }

    input {
        width: 100%;
    }
}